body{
  background-color: White;
  font-family: monospace;
  font-size: 19px;
  color: #3333cc
}

h1{
  color: orange;
  font-size: 40px
}

p{
  color: #3333cc;
  font-family: monospace
}

div{
  background-color: orange
}
